<% provide(:title, "Feed") %>
<body class="feed">
    <h2>Tornadoes - Annual 2016 - part 2</h2>
    <p>[Source: NOAA National Centers for Environmental Information, State of the Climate: Tornadoes for Annual 2016, published online January 2017, 
       retrieved on November 25, 2017 from https://www.ncdc.noaa.gov/sotc/tornadoes/201613].</p>
    <p>With the exception of February, each month had a near- to below-average number of tornadoes. 
       In February, there were 102 confirmed tornadoes, above the 1991-2010 average of 29. 
       In June, there were 86 confirmed tornadoes, much less than the average of 243.
       At a statewide level, the number of tornadoes for the year was at least double the average in Alabama (87 vs 44) and Indiana (40 vs 22), 
       but less than half in North Carolina (16 vs 31), South Dakota (16 vs 36) and Tennessee (10 vs 26).</p>
    <!-- chart 1: barchart tornadoes/state -->
    <h2>USA tornadoes of 2016</h2>
    <div class="jumbotron myBackground4">
        <p><b>USA tornadoes 2016</b></p>
        <p>This chart reports the statistics in each State with details of a total number of events per day</p>
        <%= bar_chart Tornado.group(:st).count, id: "users-chart", width: "1020px", height: "700px", xtitle: "Total number of tornadoes", ytitle: "State" %>
    </div>
    <br>
    <!-- chart 2: tornadoes/days per state -->
    <h2>USA tornadoes of 2016 by state</h2>
    <p>Additional information on individual outbreaks is available in our monthly tornado reports.</p>
    <div class="jumbotron myBackground4">
        <p><b>Statistics by State</b></p>
        <p>This charts display statistics by State, with details of frequency and F-scale respectively.</p><br>
        <!-- drop down menu code -->
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <p>Type in State abbreviation</p>
                <%= form_tag feed_path do |f| %>
                <%= text_field_tag :state, nil, placeholder: "Select State", class: 'form-control' %>
                <%= submit_tag "Get Statistics", class: "btn btn-primary" %>
                <% end %>
            </div>
        </div><br>
      <p><%= @text %></p>
      <br>
      <p><b>Tornadoes trend in 2016</b></p>
      <%= line_chart Tornado.where(:st => @state).group_by_day(:date).count, xtitle: "Time", ytitle: "Number of tornadoes" %>
      <br>
      <p><b>F-scale trend chart</b></p>
      <%= bar_chart Tornado.where(:st => @state).group(:date).sum(:mag), id: "users-chart-2", width: "1020px", height: "700px", xtitle: "F-scale", ytitle: "Date" %>
      <br>
    </div>
    <br><br><br><br>
</body>

